{% if fun.is_async %}async{% endif %}def {{fun.name}}(
    {% for a in fun.param_signature %}
    {{a}},
    {% endfor %}
) -> {{fun.return_hint}}:
    {% if fun.docstring or debug %}
    """
    {{ fun.debug | if_true(debug, "{}\n\n") | indent(4, blank=True) -}}
    {{ fun.docstring | if_exists | trim | indent(4, blank=True) }}
    """
    {% else %}
    ...
    {% endif %}
