{#-
callback can be of other modules, we can't detect early but they are effectively aliases.
We add type ignore because if they are not parsed in their namespace they will not exist.
-#}
{% if cb.function.namespace != module_name %}
{{cb.name}} = {{ cb.function.namespace}}.{{cb.name}} # type: ignore
{% if debug %}
"""
{{ cb.debug }}
"""
{% endif %}
{% else %}
class {{cb.name}}(typing.Protocol):
    {% if cb.docstring or debug %}
    """
    {{ cb.debug | if_true(debug, "{}\n\n") | indent(4, blank=True) -}}
    {{ cb.docstring | if_exists | trim | indent(4, blank=True) }}
    """
    {% endif %}
    def __call__(
        self,
        {% for a in cb.function.input_args %}
        {{a.name}}: {{a.type_hint(module_name)}}, {{ a.line_comment | if_exists('# ') }} 
        {% endfor %}
    ) -> {{cb.function.complete_return_hint(module_name)}}:
        ...
{% endif %}