class {{ cls_.name }}{{ cls_.super_class | if_exists('({})') }}:
    {% if cls_.docstring or debug %}
    """
    {{ cls_.debug | if_true(debug, "{}\n") | indent(4, blank=True) -}}
    {{ cls_.docstring | if_exists | indent(4, blank=True) }}
    """
    {% endif %}
    {% if cls_.props %}

    class Props{{ cls_.super_class | if_exists('({}.Props)') }}:
        {% if cls_.props.docstring %}
        """
        {{ cls_.props.docstring | if_exists -}}
        """
        {% endif %}
        {% for prop in cls_.props %}
        {{ prop.name }}: {{ prop.type_hint(module_name) }} {{ prop.line_comment | if_exists("# ") }}
        {% if prop.docstring or prop.is_deprecated %} 
        """
        {{ prop.docstring | if_exists }}
        {{ "@deprecated" if prop.is_deprecated else ""  | indent(12, blank=True) -}}
        """
        {% endif %}
        {% endfor %}

    {% if not cls_.super_class %}props: Props = ...{% endif -%}
    {% elif cls_.super_class == "object" %}
    {# we add Props, inherited class, here we add a fake empty since someone might inherit from this class #}
    class Props: 
        ...
    props: Props = ...
    {% endif %}
    
    {% if cls_.getters %}
    # Getters
    {% for getter in cls_.getters %}
    @property
    def {{ getter.name }}(self) -> {{ getter.type_hint(module_name) }}: ...
    {% endfor %}
    {% endif -%}

    {% if cls_.fields %}
    # Fields
    {% for field in cls_.fields %}
    {{ field.name }}: {{ field.type_hint(module_name) }} = ... {{ "# type: ignore" | if_true(field.type_hint_namespace and module_name != field.type_hint_namespace) }}{{ field.line_comment | if_exists("# ") }}
    {% if field.docstring or field.is_deprecated %} 
    """
    {{ field.docstring | if_exists }}
    {{ "@deprecated" if field.is_deprecated else ""  | indent(4, blank=True) }}
    """
    {% endif %}
    {% endfor %}
    {% endif -%}

    {% if cls_.methods %}
    # Methods
    {% for method in cls_.methods %}
    {{ method.render_compact() | indent(4, first=False) }}
    {% endfor %}
    {% endif %}

    {% if cls_.python_methods %}
    # python methods
    {% for method in cls_.python_methods %}
    {{ method.render() | indent(4, first=False) }}
    {% endfor %}
    {% endif %}

    {% if cls_.signals %}
    {{ cls_.render_signals() | indent(4, first=False) }}
    {% endif %}

    {% if cls_.extra %}
    """
    {% for e in cls_.extra %}
    {{ e }}
    {% endfor %}
    """
    {% endif %}

    ...
