{% if props %}
class Props{{ super_class | if_true(super_class != "object", '({}.Props)')  }}:
    {% if props.docstring %}
    """
    {{ props.docstring | if_exists -}}
    """
    {% endif %}
    {% for prop in props %}
    {{ prop.name }}: {{ prop.type_hint(module_name) }} {{ prop.line_comment | if_exists("# ") }}
    {% if prop.docstring or prop.is_deprecated %} 
    """
    {{ prop.docstring | if_exists }}
    {{ "@deprecated" if prop.is_deprecated else ""  | indent(12, blank=True) -}}
    """
    {% endif %}
    {% endfor %}

@builtins.property
def props(self) -> Props: ...
{% elif super_class == "object" %}
{# No props in this class but its super is object is a parent class for future inherited class, so we add a fake empty since someone might inherit from this class #}
class Props: 
    ...
@builtins.property
def props(self) -> Props: ...
{% endif %}