class {{ cls_.name }}{{ cls_.super_class | if_exists('({})') }}:
    {% if cls_.docstring or debug %}
    """
    {{ cls_.debug | if_true(debug, "{}\n") | indent(4, blank=True) -}}
    {{ cls_.docstring | if_exists | indent(4, blank=True) }}
    """
    {% endif %}
    
    {{ cls_.render_props() | indent(4, first=False) }}
    
    {{ cls_.render_fields() | indent(4, first=False) }}

    {% if cls_.methods %}
    # gi Methods
    {% for method in cls_.methods %}
    {{ method.render_compact() | indent(4, first=False) }}
    {% endfor %}
    {% endif %}

    {% if cls_.python_methods %}
    # python methods (overrides?)
    {% for method in cls_.python_methods %}
    {{ method.render() | indent(4, first=False) }}
    {% endfor %}
    {% endif %}

    {% if cls_.signals %}
    {{ cls_.render_signals() | indent(4, first=False) }}
    {% endif %}
    ...
