def {{fun.name}}(
    {{ fun.render_args(module_name, False) | indent(4, first=False) }}
) -> {{fun.complete_return_hint(module_name)}}:
    {% if fun.docstring or debug %}
    """
    {{ fun.debug | if_true(debug, "{}\n") | trim | indent(4, blank=True) -}}
    {{ fun.docstring | if_exists | trim | indent(4, blank=True) }}
    {% if fun.deprecation_warnings -%}
    .. deprecated::
        {{ fun.deprecation_warnings | trim | indent(8, blank=True) }}
    {%- endif %}
    """
    {% endif %}
    ...
